.SideTrends {
  display: none;
}

@media screen and (min-width: 1200px) {
  .SideTrends {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 5px 130px 30px 20px;
    gap: 20px;
    z-index: 3;
  }
}
