.TweetButton {
  position: fixed;
  right: 5%;
  bottom: 15%;
}
.TweetButton button {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #218bff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  height: 45px;
}

.TweetButton button:hover {
  background-color: #2774c6;
}
.TweetButton img {
  height: 25px;
  width: 25px;
}
.plus {
  margin: 0;
}

@media screen and (min-width: 800px) {
  .TweetButton {
    position: absolute;
    left: 38px;
    bottom: 80px;
  }

  .TweetButton button {
    width: 210px;

    border-radius: 30px;
  }
}
