.TweetButton {
  position: fixed;
  right: 20px;
  bottom: 100px;
}

.TweetButton button {
  background-color: #218bff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.TweetButton img {
  height: 25px;
  width: 25px;
}

@media screen and (min-width: 800px) {
  .TweetButton {
    position: absolute;
    left: 66px;
    bottom: 20px;
  }
  .TweetButton button {
    width: 160px;
    border-radius: 30px;
  }
}
