.Content {
}

@media screen and (min-width: 760px) {
  .Content {
    padding-left: 100px;
    border-right: 0.5px solid rgba(201, 211, 219, 0.492);
  }
}

@media screen and (min-width: 1200px) {
  .Content {
    padding-left: 28%;
  }
}
