.Header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.Home {
  display: none;
}
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hamburger hr {
  margin: 0;
  border: 1px solid #218bff;
  background-color: #218bff;
  width: 15px;
  height: 0.8px;
}

.sparkle,
.logo {
  height: 37px;
  width: 37px;
  cursor: pointer;
}
.Header-down {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.419);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
}
.per-te,
.seguiti {
  display: flex;
  margin: 0;
  width: 50%;
  height: 47px;
  justify-content: center;
  align-items: center;
}

.per-te:hover,
.seguiti:hover {
  background-color: rgba(128, 128, 128, 0.419);
}

@media screen and (min-width: 800px) {
  .Header-up {
    padding-left: 20px;
  }
  .hamburger {
    display: none;
  }
  .Home {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .logo {
    display: none;
  }
}
