.Header {
  position: sticky;
  top: 0;

  background-color: rgba(255, 255, 255, 0.821);
}
.Header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Home {
  display: none;
}
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hamburger hr {
  margin: 0;
  border: 1px solid #218bff;
  background-color: #218bff;
  width: 15px;
  height: 0.8px;
}

.sparkle,
.logo {
  height: 37px;
  width: 37px;
  cursor: pointer;
}
.Header-down {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.419);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
}
.per-te,
.seguiti {
  display: flex;
  margin: 0;
  width: 50%;
  height: 47px;
  justify-content: center;
  align-items: center;
}

.per-te:hover,
.seguiti:hover {
  background-color: rgba(128, 128, 128, 0.419);
}

.bookMark {
  position: absolute;
  width: 10%;
  height: 5px;
  background-color: #218bff;
  bottom: 0px;
  left: 20%;
}
.bookMark.bm {
  left: 70%;
}

/* .post-input {
  display: none;
}
@media screen and (min-width: 700px) {
  .post-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .first-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;

    height: 90px;
  }
  .first-row input {
    border: none;
    font-size: 1.1rem;
  }

  .second-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-top: 0.5px solid rgba(181, 181, 181, 0.419);
    border-bottom: 0.5px solid rgba(181, 181, 181, 0.419);
  }
  .post-icons {
    font-size: 1.1rem;
    color: #218bff;
    display: flex;
    gap: 20px;
  }
  .header-twit-btn {
    color: white;
    background-color: #218bff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 80px;
    height: 35px;
    border-radius: 24px;
    text-align: center;
  }
  .header-twit-btn:hover {
    background-color: #2774c6;
    color: white;
  }
} */
@media screen and (min-width: 540px) {
  .hamburger {
    display: none;
  }
  .Home {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .logo {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .Header-up {
    padding-left: 20px;
  }
}
