.SideMenu {
  display: none;
}
.logo-twitter {
  color: #218bff;
  font-size: 2rem;
}

@media screen and (min-width: 540px) {
  .SideMenu {
    position: fixed;
    left: 0;
    width: fit-content;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 0.5px solid rgba(128, 128, 128, 0.549);
  }
}
