.MenuContent ul {
  padding: 0;
}
.MenuContent li {
  list-style-type: none;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}
.MenuContent li:hover {
  color: #218bff;
}
.profile-img {
  background-color: #218cff80;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

p {
  margin: 12px;
}
